import XCTest

{{#item}}
{{#mock}}
class Mock{{protocol_name}}: {{protocol_name}} {

  {{#body}}
  {{.}}
  {{/body}}
}
{{/mock}}
{{#protocol}}

// {{description}}

protocol {{protocol_name}} {
  {{#body}}
  {{.}}
  {{/body}}
}
{{/protocol}}
{{#example}}

// {{description}}

class {{example_name}} {

  func execute(_ injected: {{protocol_name}}) {
    {{#body}}
    {{.}}
    {{/body}}
  }
}
{{/example}}
{{#test}}

// {{description}}

class {{example_name}}Test: XCTestCase {

    func test{{name}}() {
      let mock = Mock{{protocol_name}}()
      {{example_name}}().execute(mock)
      {{#body}}
      {{.}}
      {{/body}}
    }
}

{{/test}}
{{/item}}
