{{#initializer}}
    {{{declarationText}}} {
    {{{initializerCall}}}
    }
{{/initializer}}

{{#property}}


    {{#hasSetter}}

        {{{declarationText}}} {
        set {
        }
        get {
        {{#defaultValue}}return {{{defaultValue}}}{{/defaultValue}}
        {{^defaultValue}}fatalError("Dummy implementation"){{/defaultValue}}
        }
        }

    {{/hasSetter}}
    {{^hasSetter}}

        {{{declarationText}}} {
        {{#defaultValue}}return {{{defaultValue}}}{{/defaultValue}}
        {{^defaultValue}}fatalError("Dummy implementation"){{/defaultValue}}
        }

    {{/hasSetter}}

{{/property}}

{{#method}}

    {{{declarationText}}} {

    {{#resultType}}
        {{#defaultValue}}return {{{defaultValue}}}{{/defaultValue}}
        {{^defaultValue}}fatalError("Dummy implementation"){{/defaultValue}}
    {{/resultType}}

    }
{{/method}}
