{{! 
ViewModel

property: [Property]
method: [Method]

Property

capitalizedUniqueName: String
hasSetter: Boolean
optionalType: String
iuoType: String
defaultValueAssignment: String
declarationText: String
returnStatement: String

Method

(superCallExpression: String)
capitalizedUniqueName: String
escapingParameters: Parameters
closureParameter: [ClosureParameter]
resultType: ResultType
declarationText: String

Parameters

tupleRepresentation: String
tupleAssignment: String

ClosureParameter

capitalizedName: String
name: String
argumentsTupleRepresentation: String
argumentsImplicitTupleAssignment: String
hasArguments: Boolean

ResultType

defaultValueAssignment: String
iuoType: String
returnStatement: String

}}
{{#property}}

    {{#hasSetter}}
        var invoked{{capitalizedUniqueName}}Setter = false
        var invoked{{capitalizedUniqueName}}SetterCount = 0
        var invoked{{capitalizedUniqueName}}: {{{optionalType}}}
        var invoked{{capitalizedUniqueName}}List = [{{{type}}}]()
    {{/hasSetter}}
    var invoked{{capitalizedUniqueName}}Getter = false
    var invoked{{capitalizedUniqueName}}GetterCount = 0
    var stubbed{{capitalizedUniqueName}}: {{{iuoType}}} {{{defaultValueAssignment}}}

    {{{declarationText}}} {

    {{#hasSetter}}
        set {
        invoked{{capitalizedUniqueName}}Setter = true
        invoked{{capitalizedUniqueName}}SetterCount += 1
        invoked{{capitalizedUniqueName}} = newValue
        invoked{{capitalizedUniqueName}}List.append(newValue)
        }
        get {
        invoked{{capitalizedUniqueName}}Getter = true
        invoked{{capitalizedUniqueName}}GetterCount += 1
        return stubbed{{capitalizedUniqueName}}
        }
    {{/hasSetter}}
    {{^hasSetter}}
        invoked{{capitalizedUniqueName}}Getter = true
        invoked{{capitalizedUniqueName}}GetterCount += 1
        return stubbed{{capitalizedUniqueName}}
    {{/hasSetter}}

    }
{{/property}}

{{#method}}

    var invoked{{capitalizedUniqueName}} = false
    var invoked{{capitalizedUniqueName}}Count = 0

    {{#escapingParameters}}
        var invoked{{capitalizedUniqueName}}Parameters: {{{tupleRepresentation}}}?
        var invoked{{capitalizedUniqueName}}ParametersList = [{{{tupleRepresentation}}}]()
    {{/escapingParameters}}

    {{#closureParameter}}
        {{#hasArguments}}
            var stubbed{{capitalizedUniqueName}}{{capitalizedName}}: {{{argumentsTupleRepresentation}}}?
        {{/hasArguments}}
        {{^hasArguments}}
        {{!var shouldInvoke{{capitalizedUniqueName}}{{!{{capitalizedName}}{{! = false}}
        {{/hasArguments}}
    {{/closureParameter}}

    {{#resultType}}
        var stubbed{{capitalizedUniqueName}}Result: {{{iuoType}}} {{{defaultValueAssignment}}}
    {{/resultType}}

    {{{declarationText}}} {

    invoked{{capitalizedUniqueName}} = true
    invoked{{capitalizedUniqueName}}Count += 1

    {{#escapingParameters}}
        invoked{{capitalizedUniqueName}}Parameters = {{{tupleAssignment}}}
        invoked{{capitalizedUniqueName}}ParametersList.append({{{tupleAssignment}}})
    {{/escapingParameters}}

    {{#closureParameter}}
        {{#hasArguments}}
            if let result = stubbed{{capitalizedUniqueName}}{{capitalizedName}} {
            {{name}}{{{argumentsImplicitTupleAssignment}}}
            }
        {{/hasArguments}}
        {{^hasArguments}}
            {{!if shouldInvoke{{capitalizedUniqueName}}{{!{{capitalizedName}} {{!{
            {{name}}{{!()
            }}
            {{name}}()
        {{/hasArguments}}
    {{/closureParameter}}

    {{#resultType}}
        return stubbed{{capitalizedUniqueName}}Result
    {{/resultType}}

    }
{{/method}}
