<component name="libraryTable">
  <library name="TestNG">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/community/plugins/testng/lib/testng.jar!/" />
      <root url="jar://$PROJECT_DIR$/community/plugins/testng/lib/jcommander.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/community/plugins/testng/lib/src/testng-sources.jar!/" />
    </SOURCES>
  </library>
</component>
